# Ignore bundler config
/.bundle

# Ignore environment files (e.g. .env, .env.production)
.env*
.env

# Ignore log and temp files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore specific temp directories, but keep structure
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore uploaded files (development), assets and build outputs
/storage/*
!/storage/.keep
/public/assets
/app/assets/builds/*
!/app/assets/builds/.keep

# Ignore credentials
/config/master.key

# Node modules and build caches
/node_modules
.parcel-cache

# Optional: Ignore SQLite databases if you ever use them
*.sqlite3
*.sqlite3-journal
